#banner {
    display: flex;
    align-items: center;
    margin-top:70px;
    height: 60vh;
    background-image: url(/public/assets/parallax-imagem1.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;       
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 75px;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 1280px) {
    h1 {font-size: 65px;}
    
}

@media screen and (max-width: 1040px) {
    h1 {font-size: 55px;}
    
}

@media screen and (max-width: 800px) {
    h1 {font-size: 45px;}
    
}

@media screen and (max-width: 635px) {
    h1 {font-size: 35px;}
    
}

@media screen and (max-width: 517px) {
    h1 {font-size: 25px;}
    
}